h1 {
  font-size: 64pt;
  margin: 0em;
}

h2 {
  font-size: 40pt;
  margin: 0em;
}

h3 {
  font-size: 18pt;
}

p {
  font-size: 18pt;
  font-family: "Karla", serif;
}

a {
  font-size: 18pt;
  font-family: "Karla", serif;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #EDEFEE;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 2em;
}

nav a {
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
}

nav a:hover {
  transition: 0.5s;
  border-style: solid;
  border-color: #333333;
  padding: 0.1em;
  border-radius: 16px;
  border-width: 1px;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  display: grid;
  background-color: #EDEFEE;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer img {
  width: 10em;
  margin: 2em;
}

section {
  padding-left: 8em;
  padding-right: 8em;
}

section img {
  border-radius: 16px;
}

.button {
  background-color: #F4CE14;
  font-size: 16pt;
  color: #333333;
  border-radius: 16px;
  text-decoration: none;
  padding: 0.4em;
  transition: 0.5s;
}

.button:hover {
  background-color: #FBDABB;
  transition: 0.5s;
}

.card-list {
  display: grid;
  margin-left: 1em;
  margin-right: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}

.card {
  padding: 1em;
  margin: 1em;
  background-color: #EDEFEE;
  border-radius: 16px;
  grid-area: "card";
}

.card img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.testimonial-list {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.section-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner {
  display: grid;
  background-color: #495E57;
  align-items: center;
  padding-left: 8em;
  padding-right: 8em;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.banner h1 {
  color: #F4CE14;
}

.banner h2 {
  color: #EDEFEE;
}

.banner p {
  color: #EDEFEE;
}

.banner img {
  max-width: 100%;
  max-height: 25em;
  height: auto;
  margin: 1em;
  border-radius: 16px;
}