h1 {
  font-size: 6vmax;
  margin: 0em;
}

h2 {
  font-size: 4vmax;
  margin: 0em;
}

h3 {
  font-size: 1vmax;
}

p {
  font-size: 1vmax;
  font-family: "Karla", serif;
}

a {
  font-size: 1vmax;
  font-family: "Karla", serif;
}

nav {
  display: grid;
  background-color: #EDEFEE;
  grid-template-columns: 1fr 2fr;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 1vw;
}

nav a {
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
}

nav a:hover {
  transition: 0.5s;
  border-style: solid;
  border-color: #333333;
  padding: 0.1em;
  border-radius: 16px;
  border-width: 1px;
}

nav img {
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  display: grid;
  background-color: #EDEFEE;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer img {
  width: 10vw;
  margin: 1vw;
}

section {
  padding-left: 8vw;
  padding-right: 8vw;
}

section img {
  border-radius: 16px;
}

form {
  display: grid;
  max-width: 50vw;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

form sup {
  color: red;
}

.form-error {
  color: red;
  font-size: 0.8vmax;
}

.button {
  background-color: #F4CE14;
  font-size: 1vmax;
  color: #333333;
  border-radius: 16px;
  text-decoration: none;
  padding: 0.4em;
  transition: 0.5s;
}

.button:hover {
  background-color: #FBDABB;
  transition: 0.5s;
}

.card-list {
  display: grid;
  margin-left: 1vw;
  margin-right: 1vw;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
}

.card {
  padding: 1vw;
  margin: 1vw;
  background-color: #EDEFEE;
  border-radius: 16px;
  grid-area: "card";
}

.card img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.testimonial-list {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.section-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner {
  display: grid;
  background-color: #495E57;
  align-items: center;
  padding-left: 8vw;
  padding-right: 8vw;
  grid-template-columns: 1fr 1fr;
}

.banner h1 {
  color: #F4CE14;
}

.banner h2 {
  color: #EDEFEE;
}

.banner p {
  color: #EDEFEE;
}

.banner img {
  max-width: 40vw;
  max-height: 50vh;
  height: auto;
  margin: 1em;
  border-radius: 16px;
}